body{
    background-color: darkblue;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: ;
}
.col{
    background-color: blue; 
}
.col-4{
    background-color: blue; 
}
.col-8{
    background-color: blue; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
