body{
    background-color: darkblue;
}
.row{
    margin-bottom: 0px;
    padding: 0px;
    background-color: rgb(102, 153, 255) ;
}
.col{
    background-color: rgb(102, 153, 255); 
}
.col-4{
    background-color: rgb(102, 153, 255); 
}
.col-8{
    background-color: rgb(102, 153, 255); 
}
.container{
    margin-top:0px;
    border-radius: 0px;
    margin-bottom:0px;
}
a{
    font-family:'Gemunu Libre', sans-serif;
}
