body{
    background-color: darkblue;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: ;
}
.col{
    background-color: rgb(102, 153, 255); 
}
.col-4{
    background-color: rgb(102, 153, 255); 
}
.col-8{
    background-color: rgb(102, 153, 255); 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
